/*STYLE*/
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }

/*STYLE FOR THE NAVEGATOR*/
/*Importante los elementos primero, luego id, clases, asi sucesivamente*/
a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

nav {
    padding: 20px;
    overflow: hidden; /* HIDDEN: El contenido es recortado y no se muestran barras de posición. (se ajusta el texto y no se muestra scroll)*/
} 

nav.navbar {
    background-color: white;
}

/*Menu hamburguesa izquierda*/
.btn-left {
    float: left;
}

/*STYLE FOR THE HEADER*/
.background-taxi {/*corta la imagen del taxi*/
    background-image: url('../assets/images/taxi.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
/*style for the text contenedor*/
/*style for the box rigth*/
.box-header {
    position: absolute;   
    top: 50%;
}

.box-rigth {
    left: 70%;    
    right: top;
    
}

.text-left {
    background-color: #F7B617;
    text-align: left;
    color: white;
   
    transform: translate(-50%, -50%);    
    padding: 40px;
}


.background-app, .background-map, .btn-drive  {
    background-color: #F7B617;
}

/*STYLE FOR THE SECTION CONDUCIR*/
.background-conduce {
    background-image:  url('../assets/images/conduce.jpg');
    height: 60vh;
    background-size: cover;
    background-position: center;
    position: relative; 
}

.drive-background {
    background-color: rgba(14, 14, 15, 0.5);
    padding: 40px;
    text-align: left;
    color: white;
    font: bold;
}

/*STYLE FOR THE FOOT*/
.background-foot {
    background-color: #26282a;
}